# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# project-specific
*.zip
version.properties
secrets.properties
/run-client
/run-server
/logs
/archive
